@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif !default;
$base-font-size:   21px !default;
$base-font-weight: 200 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$header-font-family: 'Permanent Marker', cursive, sans-serif;

$spacing-unit:     30px !default;

$text-color:            #fff !default;
$background-color:      #29132e !default;
$background-head-color: #321450 !default;
$brand-color:           #de004e !default;

$alternate-color: #baf9ff !default;
$alternate-color-dark: #0f93bf !default;
$alternate-color-darker: #003b4e !default;

$grey-color:       #f887ff !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin relative-font-size($ratio) {
	font-size: $base-font-size * $ratio;
}

// Import partials.
@import
	"minima/base",
	"minima/layout",
	"minima/syntax-highlighting"
;

body {
	overflow-x: hidden;
}

h1, h2, h3, h4 {
	font-family: $header-font-family;

	a:visited {
		color: $brand-color;
	}

	a:hover {
		color: $text-color !important;
	}
}

h1:not(.post-featured-title), .header-pop {
	filter: drop-shadow(4px 4px 0px $alternate-color-dark);
}

/*strong {
	font-family: $header-font-family;
}*/

hr {
	margin: 25px 0;
	border-color: $grey-color-dark;
}

pre, code,
.highlighter-rouge .highlight,
.highlight .err {
	background-color: #000;
	border-color: $grey-color-dark;
}

.site-header {
	filter: drop-shadow(0 2px 5px #000);

	.site-title {
		font-family: $header-font-family;
		font-size: $base-font-size;

		&, &:visited {
			color: $grey-color-light;
		}
	}

	.site-subtitle {
		@include relative-font-size(1.625);
		font-family: $header-font-family;
		font-weight: 500;
		line-height: $base-line-height * $base-font-size * 2.25;
		letter-spacing: -1px;
		margin-left: 1rem;
		margin-bottom: 0;
		color: $alternate-color;
		font-size: $base-font-size;
	}

	.site-nav {
		font-size: $base-font-size;
		font-weight: 500;
		border: none;

		.page-link {
			color: $alternate-color;
		}

		.menu-icon > svg {
			fill: $alternate-color;
		}

		@include media-query($on-palm) {
			text-align: left;

			.page-link {
				font-size: $base-font-size * 1.5;
				padding: 10px;
			}
		}
	}

	@media screen and (max-width: 700px) {
		.site-subtitle {
			display: none;
		}
	}
}

.page-content {
	padding: 0;
	background: url("memphis.svg") repeat;

	.article-image {
		text-align: center;

		img {
			max-width: 600px;

			@include media-query($on-palm) {
				width: 100%;
			}
		}
	}
}

.site-footer {
	font-family: $header-font-family;
	filter: drop-shadow(0 2px 5px #000);

	.copyright {
		color: $text-color;
		font-weight: 700;
	}

	.footer-col-1, .footer-col-2 {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width:         calc(50% - (#{$spacing-unit} / 2));
	}

	.footer-col-2 {
		text-align: right;
	}

	.social-media-list {
		text-align: center;

		li {
			display: inline;
		}

		a {
			color: $grey-color;
			display: inline-block;
			height: 4.4rem;
			width: 4.4rem;
		}

		a:hover {
			color: $text-color;
		}

		.s-gitlab:hover {
			color: #F96424;
		}

		.s-wordpress:hover {
			color: #0085BA;
		}

		.s-google:hover {
			color: #4285F4;
		}

		.s-lastfm:hover {
			color: #BA0000;
		}

		.s-twitter:hover {
			color: #1D9BD0;
		}

		.s-insta:hover {
			color: #F04B5D;
		}

		.s-osgrid:hover {
			color: #FFCB00;
		}
	}

	strong {
		color: $text-color;
	}

	a {
		color: $grey-color;
	}

	@include media-query($on-laptop) {
		.footer-col-1, .footer-col-2 {
			width: 100%;
			text-align: center;
		}
	}
}

.post-header {
	h1, .post-meta {
		text-align: center;
	}

	h1 {
		padding-top: 20px;
	}

	a {
		color: $text-color;
	}

	.post-featured {
		background-size: cover;
		background-position: 50%;
		margin-bottom: 15px;
		padding-top: 250px;

		h1 {
			padding: 10px;
			background-color: rgba(0, 0, 0, 0.50);
		}
	}
}

.full-width-banner {
	// Taken from WP - Has issues with overflowing, will need patching (tempfix to disable body overflow-x... yuck).
	margin-left: calc(-100vw / 2 + 100% / 2);
	margin-right: calc(-100vw / 2 + 100% / 2);
	max-width: 100vw;
	width: auto;
}

.home-banner {
	background: url("https://labs.soupbowl.io/miami/vice-miami.svg") no-repeat center center;
	background-size: cover;
	text-align: center;
	margin-bottom: 15px;
}

.showy-banner {
	font-family: $header-font-family;
	font-size: 38px;
	background-size: cover;
	background-position: 50%;
	margin-bottom: 15px;
	padding-top: 120px;
	background-color: #0f0000;

	p {
		padding: 10px;
		background-color: rgba(0, 0, 0, 0.50);

	a {
		color: $text-color;
	}
  }
}

.aligncentre {
	text-align: center;
}

.button {
	background-color: $brand-color;
	color: $background-color;
	padding: 20px;
	display: inline-block;
	text-align: center;
	font-weight: 700;
	border: none;
	font-size: $base-font-size;
	cursor: pointer;

	a {
		color: $background-color;
	}

	a:hover {
		color: $text-color;
	}
}

.pagination {
	text-align: center;

	span.previous, span.next {
		color: $grey-color;
	}
}

.error {
	text-align: center;

	h1 {
		font-size: ($base-font-size * 5);
		font-family: monospace;
	}
}
