$primary: #ff6100;
$body-color: #fff;
$body-bg: #0c0c0c;
$text-muted: #828282;
$enable-shadows: true;
$prefix: "mo-";

$font-family-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
$font-size-base: 1.25rem;
$font-weight-normal: 200;

.focus-background {
	background-color: #0f0f0f;
}

.pagination-custom {
	ul {
		justify-content: center;
	}
}

.home-banner {
	background-image: url(https://f.subo.dev/i/background.webp);
	background-size: cover;
	background-position: 50%;
	text-align: center;
	margin-bottom: 15px;
}

.page-banner {
	background-size: cover;
	background-position: 50%;
	padding-top: 250px;

	h1 {
		padding: 10px;
		background-color: rgba(0,0,0,0.5);
		text-align: center;
	}
}

.content-type-comic {
	img {
		max-width: 100%;
		background-color: white;
	}
}

main {
	figure {
		text-align: center;

		img {
			width: 100%;
			max-width: 750px;
		}

		figcaption h4 {
            color: #828282;
			font-size: 1.25rem;
			margin-top: 5px;
        }
	}
}

@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap');

// Overrides

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, strong {
	font-weight: 700;
}
