$primary: #ff6100;
$secondary: #6b4f6b;
$body-color: #000;
$body-bg: #a8a6ff;
$text-muted: #828282;
$enable-shadows: true;
$prefix: "mo-";

$font-family-sans-serif: "Lexend", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
$font-size-base: 1.5rem;
$font-weight-normal: 300;

.focus-background {
	background-color: #fff;
}

.pagination-custom {
	ul {
		justify-content: center;
	}
}

.home-banner {
	background-image: url(https://f.subo.dev/i/background.webp);
	background-size: cover;
	background-position: 50%;
	text-align: center;
	margin-bottom: 15px;
}

.page-banner {
	background-size: cover;
	background-position: 50%;
	padding-top: 250px;

	h1 {
		padding: 10px;
		color: white;
		text-shadow: 4px 4px black;
		text-align: center;
	}
}

.giscus-box {
	background-color: #fff;
	border: 2px solid black;
	box-shadow: 4px 4px 0px #000;
	padding: 10px;
}

.content-type-comic {
	img {
		max-width: 100%;
		background-color: white;
	}
}

.text-punchy {
	text-shadow: 1px 1px black;
}

main {
	a{
		text-shadow: 1px 1px black;
	}

	figure {
		text-align: center;

		img {
			width: 100%;
			max-width: 750px;
		}

		figcaption h4 {
            color: $secondary;
			font-size: 1.25rem;
			margin-top: 5px;
        }
	}
}

@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lexend+Mega:wght@100..900&family=Lexend:wght@100..900&display=swap');

// Overrides

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, strong {
	font-weight: 700;
}

.alert {
	box-shadow: 4px 4px 0px #000;
	border-style: solid;
	border-width: 2px;
	border-radius: 0;
}

@each $color, $value in $theme-colors {
	.alert-#{$color} {
		border-color: $value;
	}
}