<hr>
<div class="giscus-box">
	<script src="https://giscus.app/client.js"
		        data-repo="soup-bowl/soup-bowl.github.io"
		        data-repo-id="MDEwOlJlcG9zaXRvcnk2MTIwOTcxMQ=="
		        data-category="Comments"
		        data-category-id="DIC_kwDOA6X8b84CcSac"
			data-mapping="title"
			data-strict="0"
			data-reactions-enabled="0"
			data-emit-metadata="0"
			data-input-position="top"
			data-theme="transparent_dark"
			data-lang="en"
			data-loading="lazy"
			crossorigin="anonymous"
			async>
	</script>
</div>
