{{ define "main" }}
<div class="home-banner">
  <img src="/assets/img/icon-2.webp">
</div>
<div class="container">
  <div class="text-center">
    {{ .Content }}
  </div>
  <h2>Fresh from the Bowl</h2>
  {{ range first 10 site.RegularPages }}
  <div class="mb-4">
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}" class="text-secondary">{{ $dateHuman }}</time>
    <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
  </div>
  {{ end }}
</div>
{{ end }}