name: Build and deploy

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.crossnote/**'
      - '.devcontainer/**'
      - '.vscode/**'
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'
      - 'docker-compose.yml'
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-react:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 24.x
          cache: 'npm'
          cache-dependency-path: portfolio/package-lock.json

      - name: Install Dependencies
        run: |
          cd portfolio
          npm ci
          npm run build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: art-react
          path: './public/portfolio-res'
  
  build-hugo:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Hugo
        run: |
          mkdir /opt/hugo
          curl -L "https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_Linux-64bit.tar.gz" --output /opt/hugo.tar.gz
          sudo tar -xvzf /opt/hugo.tar.gz -C /opt
          sudo mv /opt/hugo /usr/local/bin
          hugo --minify
        env:
          HUGO_VERSION: 0.146.0
        
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: art-hugo
          path: './public'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    needs: [build-react, build-hugo]

    steps:
      - uses: actions/checkout@v5

      - name: Download Hugo build
        uses: actions/download-artifact@v4
        with:
          name: art-hugo
          path: ./public

      - name: Download React build
        uses: actions/download-artifact@v4
        with:
          name: art-react
          path: ./public/portfolio-res

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './public'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
